doctype html
html
  head
    link(href="all.min.css", rel="stylesheet", type="text/css")
  body
    section#app
      label.controller
        span=val
        input(v-model="inputValue")
      each val in ['HEX', 'RGB', 'RGBA', 'HSL', 'HSLA', 'STRING']
        label.controller
          span=val
          input(v-model=val, readonly)
          button(@click="copy("+val+")") copy
    script(src="all.min.js")
